.header {
  padding-top: 12px;
  padding-bottom: 8px;
  position: relative;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--backgroundSecondary);
}

.headerAddon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.username {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
